<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elookups.tenanttrackingapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- <activity -->
        <!-- android:name=".LoginActivity" -->
        <!-- android:label="@string/app_name"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".PinLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Tenants List"
            android:parentActivityName=".PinLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PinLoginActivity" />
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RentHouseDetails"
            android:label="RentHouseDetails"
            android:parentActivityName=".RentHouseList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elookups.tenanttrackingapplication.RentHouseDetails" />
        </activity>
        <activity
            android:name=".TenantDetails"
            android:label="TenantDetails"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elookups.tenanttrackingapplication.TenantDetails" />
        </activity>
        <activity
            android:name=".NewRentHouse"
            android:label="NewRentHouse"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elookups.tenanttrackingapplication.NewRentHouse" />
        </activity>
        <activity
            android:name=".NewTenant"
            android:label="NewTenant"
            android:parentActivityName=".RentHouseDetails"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elookups.tenanttrackingapplication.NewTenant" />
        </activity>
        <activity
            android:name=".FilterHouse"
            android:label="FilterForHouseList"
            android:parentActivityName=".RentHouseList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elookups.tenanttrackingapplication.FilterHouse" />
        </activity>
        <activity
            android:name=".RentHistory"
            android:label="RentHistory"
            android:parentActivityName=".TenantDetails"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elookups.tenanttrackingapplication.RentHistory" />
        </activity>
        <activity
            android:name=".PinChangeActivity"
            android:label="@string/title_activity_pin_change"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elookups.tenanttrackingapplication.MainActivity" />
        </activity>
        <activity
            android:name=".RentHouseList"
            android:label="@string/title_activity_rent_house_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elookups.tenanttrackingapplication.MainActivity" />
        </activity>
    </application>

</manifest>